
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h2>Macoratti .net  - Usando WebImage</h2>
    <hr />
</div>
<div>
    <img src="@Url.Action("GetImagem")" alt="" />
    <br />
    @*<div style="font-family:sans-serif">
        @Html.ActionLink("Flip Horizontal", "GetHorizontalFlip")
        @Html.ActionLink("Flip Vertical", "GetVerticalFlip")
        @Html.ActionLink("Redimensionar", "GetResized")
        @Html.ActionLink("Rotação à esquerda", "GetRotateLeft")
        <br />
        @Html.ActionLink("Rotação à direita", "GetRotateRight")
        @Html.ActionLink("Texto com marca D'água", "GetTextWatermark")
        @Html.ActionLink("Imagem com marca D'água", "GetImageWatermark")
        @Html.ActionLink("Cortar Imagem", "GetCropped")
    </div>*@
</div>