@model s2bProjeto.Models.Comentario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comentario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reclamacao.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reclamacao.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagemFile)
        </dt>

        <dd>
            @if (Model.ImagemUrl != null)
            {
                <img width="200" src="@Model.ImagemUrl" alt="@Model.Descricao" />
            }
            else if (Model.ImagemFile != null)
            {
                <img src="@Url.Action("GetImage", "Reclamacao", new {id=Model.ComentarioId})" alt="" />
            }
            else
            {
                @:url image not available
            }
        </dd>
        @*<dd>
            @Html.DisplayFor(model => model.Imagem)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComentarioId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
